<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>

<br/>
<br/>

<div align="center">
<form action="#" th:action="@{/course/__${formAction}__}" th:object="${course}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Credit:</td>
            <td><input type="number" th:field="*{credit}" step=".01"/></td>
            <td th:if="${#fields.hasErrors('credit')}" th:errors="*{credit}">Credit Error</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><textarea type="text" th:field="*{description}"/></td>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
        </tr>
        <tr>
            <td><button type="submit" th:text="${title}">Submit</button></td>
        </tr>
        <input type="hidden" th:field="*{id}"/>
    </table>
</form>
</div>

</body>
</html>