<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<br/>
<br/>

<form action="#" th:action="@{/formValidation}" th:object="${formInput}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Email Address:</td>
            <td><input type="text" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Address Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="number" th:field="*{age}" /></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
        </tr>
        <tr>
            <td>About:</td>
            <td><input type="text" th:field="*{aboutMe}" /></td>
            <td th:if="${#fields.hasErrors('aboutMe')}" th:errors="*{aboutMe}">About Error</td>
        </tr>
        <tr>
            <td><input type="checkbox" th:field="*{isAcceptAgreement}" /></td>
            <td>I agree the agreement</td>
            <td th:if="${#fields.hasErrors('isAcceptAgreement')}" th:errors="*{isAcceptAgreement}">Agreement Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>